<h3>Проблема №<%= @report.id %> — <%= @report.title %></h3>
<h4>Уведомление о важном комментарии</h4>
<%= @comment.content %>
<p>Ссылка на проблему — <a href="http://report.oblakan.ru/reports/<%= @report.id %>">report.oblakan.ru/reports/<%= @report.id %></a></p>