<h3>Проблема №<%= @report.id %> — <%= @report.title %></h3>
<p>Статус проблемы теперь стал — "<%= t("activerecord.models.status.#{@report.status}") %>"</p>

<% if @report.status.name == 'in_process' %>
<p>
  Сообщение о проблеме отправлено в администрацию города на проработку. Мы постараемся проследить, чтобы ответ администрации
  не превысил нормативные сроки (около 30 дней).
</p>
<% elsif @report.status.name == 'confirmed' %>
<p>Проблема была подтверждена администрацией города. Администратор сайта возможно сообщил дополнительные сведения на странице проблемы (ссылка ниже).</p>
<% elsif @report.status.name == 'rejected' %>
<p>Проблема была отклонена администрацией города. Проверьте страницу проблемы (ссылка ниже) на наличие дополнительных комментариев от администратора сайта.</p>
<% elsif @report.status.name == 'fixed' %>
<p>Поступили сведения, что проблема более не актуальна или исправлена. Если вы с этим несогласны, то отпишитесь в комментариях на странице проблемы (ссылка ниже) с обоснованием вашего мнения.</p>
<% end %>

<p>Ссылка на проблему — <a href="http://report.oblakan.ru/reports/<%= @report.id %>">report.oblakan.ru/reports/<%= @report.id %></a></p>